{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/bootstrap-icons.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body class="bg-theme-dark">
    <div class="bg-theme-light p-5 rounded text-center w-50" style="margin-top:200px;margin-left:350px;">
    <h2>This Folder is Private</h2>
    <h2 class="mb-5">Enter Password to View Gallery</h2>
{% if error %}
<p style="color:red;">{{error}}</p>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <input type="password" name="password" placeholder="Enter Password" class="form-control">
    <br>
    <button class="bg-theme-dark rounded-pill px-3 py-2 text-light fs-5">Submit
     <span class="bg-theme-light br rounded-circle p-2"><i
                    class="bi bi-arrow-right text-dark fw-bold"></i></span></button>
</form>
</div> 
</body>
</html>
