{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="{%static 'images/Camera.png'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap-icons.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Parisienne&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="bg-theme-dark">
<div class="text-end p-4"> <a href="{% url 'home' %}"
class="bg-theme-light  px-4 br text-dark fw-bold text-decoration-none">Back To Home</a>

        </div>
        <h1 class="font-name text-light text-center">VK Photography</h1>
        <p class="font tl text-center fs-2 pb-3">All the images and videos here are taken by our own team</p>
        
    </section>
    <div>
        {% for i in works %}
        <img src="/media/{{i.images}}" class="m-3" alt="..." height="400px">
        {% endfor%}
    </div>
</body>

</html>